body {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.osio {
  float: left;
  width: 50%;
}

.sisalto:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
  