body {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

p {
	padding-left: 10px;
}

h1 {
	padding-left: 10px;
}

h2 {
	padding-left: 10px;
}

h3 {
	padding-left: 10px;
}

a.päänavi:hover {
  color: red;
}

.suuntapalkki {
  float: left;
  width: 20%;
}

.osio {
	background: gray;
	float: left;
	width: 80%;
}

.sisalto:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
  