body {
	
	width: 80%;
	height: auto;
	margin: auto;
	font-family: calibri;
	
}

.nav {
	
	background-color: #5A78D1;
	padding: 12px;
	margin-bottom: 0;
	margin-top: 1%;
	
}

.nav a:before {
	
	content: " | ";
	padding: 0;
	position: relative; 
	top: 0px;
	color: #99ABEE;
	
}

.footer {
	
	margin-top: 2%;
	background-color: #5A78D1;
	padding: 12px;
		
}

.banner {
	
	background-color: #5E80E7;
	background-size: cover;
	margin-top: 0;
	padding: 1px;
	text-align: center;
	color: white;
		
}


h3 {
	
	text-shadow: 2px 2px 2px #99ABEE;
	background-color: #E4EAFF;
	padding: 10px;
	margin-bottom: 0;
	margin-top: 0;
	background-size: cover;
		
}

.content-left {
	
	width: 49.5%;
	float: left;
	height: auto;
	margin-left: 0;
	margin-right: 0;
			
}

.content-center {
	
	width: 1%;
	float: left;
	height: auto;
	
}

.content-right {
	
	width: 49.5%;
	float: left;
	height: auto;
	margin-left: 0;
	margin-right: 0;
}

.content-left2 {
	
	width: 49.5%;
	float: left;
	height: auto;
	margin-left: 0;
	margin-right: 0;
			
}

.content-right2 {
	
	width: 49.5%;
	float: left;
	height: auto;
	margin-left: 0;
	margin-right: 0;
}

.maincontents:after {
  content: "";
  display: table;
  clear: both;
}

.secondarycontent:after {
  content: "";
  display: table;
  clear: both;
}

a.linkki {

	text-decoration: none;
	font-weight: bold;
	color: white;
		
}

a.linkki:visited {

	color: #DAE2FF;
	
}

a.linkki:hover {
	
	font-weight: bold;
	color:#E15757;
	transition: 1.0s;

}

.kuva {
	
	width: 40%;
	height: auto;
		
}

.pienikuva {
	
	width: 25%;
	height: auto;
	float: right;
	
}

.tuubi {
	
	margin-left: 10%;
	margin-right: 10%;
	display: block;
    border-style:none;
	width: 80%;
	height: 350px;
	
}

.lahteet {
	
	list-style-type:decimal-leading-zero;
	
}

a.lahde {

	text-decoration: none;
	font-weight: bold;
	color: #443EEF;
		
}

a.lahde:visited {

	color: #AE74F3;
	
}

@media (max-width: 960px) {
body {
	
    width: 98%;
    height: auto;
		
  }
 
.tuubi {
	
	margin-left: 10%;
	margin-right: 10%;
	display: block;
    border-style:none;
	width: 80%;
	height: 250px;
	
}
 
}

@media only screen and (max-width: 768px) {
body {
	
    width: 98%;
    height: auto;
	font-size: large;
		
  }
  
 h1 {
	
	font-size: 3em;
		
}

a {font-size: large}
 
.nav {
	
	background-color: #5A78D1;
	padding: 12px;
	margin-bottom: 0;
	padding-top: 18px;
	padding-bottom: 18px;
	
}

.banner {
	
	background-color: #5E80E7;
	background-size: cover;
	margin-top: 0;
	padding: 1px;
	text-align: center;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
		
}

 .content-left {
	
	width: 100%;
	height: auto;
	margin-left: 0;
	margin-right: 0;
			
}

.content-center {
	
	width: 0%;
	height: auto;
	margin-left: 0;
	margin-right: 0;
	visibility: hidden;
}

.content-right {
	
	width: 100%;
	height: auto;
	margin-left: 0;
	margin-right: 0;
}

.footer {
	
	margin-top: 2%;
	background-color: #5A78D1;
	padding: 12px;
	padding-top: 18px;
	padding-bottom: 18px;
		
}

.tuubi {
	
	margin-left: 10%;
	margin-right: 10%;
	display: block;
    border-style:none;
	width: 80%;
	height: 400px;
	
}
 
}
